.body {
  margin: auto;
  width: 80%;
  height: 550px;
  display: grid;
  place-items: center;
  background-color: #5f88da;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

.counterPlusBtn {
  text-size-adjust: 10px;
  /* font-style: italic; */
  width: 10px;
  /* background-color: #a02424;
  color: rgb(163, 10, 10); */
  margin-left: 25%;
  margin-right: 25%;
}
.counterMinusBtn {
  text-size-adjust: 10px;
  width: 10px;
  margin-left: 25%;
  margin-right: 25%;
}

.buttonWrapper{
  display: flex;
  margin-left: 25x;
  margin-right: 25px;
  
  

}

.counterContainer{
 padding: 15px;
 border-radius: 10px;
 box-shadow: 1px 1px rgba(0, 0,0, 6);

}